/* give credit to Czechitas */

html {
    box-sizing: border-box;
  }


*,
    ::after,
    ::before {
    box-sizing: inherit;
}

/* give credit to Czechitas */

* {
    margin: 0;
    padding: 0;
    border: none;
}

#menu li {
    list-style-type: none;
}

#ctn-header {
    background-color: green;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

#banner, #ctn-nav {
    width:50%;
}

#menu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

#ctn-hero {
    background-color: yellow;
    height: 30vh;
}

#ctn-reasons {
    background-color: pink;
    height: 25vh;
}

#ctn-gallery {
    background-color: gray;
    height: 25vh;
}

#ctn-footer {
    background-color: aqua;
    height: 10vh;
}

@media (max-width: 600px) {
    #ctn-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }
}    