/* give credit to Czechitas */

html {
    box-sizing: border-box;
  }


*,
    ::after,
    ::before {
    box-sizing: inherit;
}

/* give credit to Czechitas */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* -------------------------------- Visualizer */
/* * {
    outline: 1px solid #f00 !important;
  } */
/* -------------------------------- Visualizer */


/* styling for the header, logo and navbar*/
 
body {
    font-size: 16px;
    /* font-family: sans-serif; */
    font-weight: 300;
    color: #2B303A;
}



#ctn-header {
    background-color: #23671C;
    /* height: 10vh; */
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
}

/* #banner, #ctn-nav {
    width: 50%;
} */

/* #banner {
    min-width: 250px;
}

#ctn-nav {
    min-width: 500px;
} */

#menu {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

/* .menu-item {
    min-width: 18ch;
} */

#menu li {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    background-color: white;
    color:   #23671C;
    border: 1px solid black;
    border-radius: 5px;
}

.active {
    border-bottom: 1px solid black;
}

/* styling for the hero image section */

#ctn-hero {
    background-image: url(../images/kevin-mueller-Q-fL04RhuMg-unsplash.jpg);
    background-color: #23671C;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;

}

/* styling for the reasons section */

#ctn-reasons {
    background-color: #58A4B0;
    /* min-height: 25vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-heading {
    padding: 1rem;
}

/* original code using flex */
/* #reasons-boxes {
    display: flex;
    gap: 1rem;
    padding: 0 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
} */

#reasons-boxes {
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}

.reason {
    padding: 0 1rem 1rem;
}

/* styling for the gallery */

#ctn-gallery {
    background-color: #BAC1B8;
    height: 25vh;
}

/* styling for the footer */

#ctn-footer {
    background-color: #2B303A;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    font-size: 75%;
    padding: 1rem;
    /* position: sticky; */
}

#follow {
    text-align: center;
    }

/* media queries to ensure responsivness on different devices */

/* media queries for tablet */
@media screen and (min-width: 500px) {
    #ctn-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: none;
    font-size: 80%;
     /* correct the alignment and spacing between the menu items and make them fit within the header - no overflow? */
    }

    #menu {
        justify-content: flex-end;
        gap: 1rem;
        font-size: 110%;
    }

    #reasons-boxes {
        grid-template-columns: 1fr 1fr;
    }

    #ctn-footer {
        font-size: 80%;
        justify-content: space-between;
    }
}    


/* media queries for desktop */
 
@media screen and (min-width: 1000px) {
      
    #reasons-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 

}

/* media queries for very large screens*/
@media screen and (min-width: 1500px) {
      
    #reasons-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 

}